<nav class="bg-blue-normal">
    <div class="nav-wrapper">
        <div class="container">
            <a href="{{ constant('ROOT_URL') }}" class="brand-logo">{{ this.title }}</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="">Bonjour {{ this.getUser.prenom }}</a></li>
                <li><a href="{{ constant('ROOT_URL') }}profil"><i class="material-icons right">perm_identity</i>Profil</a></li>
                <li><a href="{{ constant('ROOT_URL') }}disconnect">Logout<i class="material-icons right">power_settings_new</i></a></li>
            </ul>
        </div>
    </div>
</nav>

